@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-[#191818] text-zinc-50/80;
}
html{
  scroll-snap-type: y mandatory;
}
body{
  background-color: #F0ECEC;
}
nav ul li{
  display: inline-block;
}
nav ul li::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: gold;
  transition: width .3s;
}
nav ul li:hover::after{
  width: 100%
}
